@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

html, body {
    overflow: scroll;
}

body {
    font-family: 'Tilt Warp', cursive;
    background-color: #180826;
    color: #b866ff;
}

table {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0 4px;

}

table th {
    padding-right:300px;
}

table td {
    background-color: #361752;
	padding: 0.5em;
	vertical-align: middle;
	text-align: center;
    padding-right: 300px;
}

.player {
    text-align: left;
}

table td img {
	height: 1.2em;
	margin-top: -0.5em;
	margin-bottom: -0.3em;
    padding-left: 5px;
	vertical-align: 6%;

}

table td:first-child {
    border-radius: 10px 0px 0px 10px;
}

table td:last-child {
    border-radius: 0px 10px 10px 0px;
}

.warning {
    color:red;
}
